
.connect-wallet button{
   display: block;
   background-color: greenyellow;
   padding: 5px 10px;
   border-radius: 10px;
}
.connect-wallet{
    background-color: rgba(8, 8, 8, 0.9);
    min-height: 4rem;
    padding: 10px 5px;
}
.page{
    background-color: rgb(0, 0, 0,0.8);
    min-height: 100vh;
}

.page label {  
    text-align: center;
    font-size: 2rem;
    height: 100%;
    align-items: center;
    margin: auto;
    margin-right: 20px;
    align-items: center;
}

.page input {
    padding: 20px;
    height: 100%;
    width: 60%;
    background: transparent;
    border-radius: 10px;
    border: 1px solid rgb(203, 203, 203);
    margin-top:20px; 
}

.page textarea{
    padding: 20px;
    height: 100%;
    width: 60%;
    
    background: transparent;
    border-radius: 10px;

    font-size: 1.2rem;
     border: 1px solid rgb(203, 203, 203);
}
.page select {
    padding: 20px;
    height: 100%;
    width: 60%;
    color: wheat;
    background: transparent;
    border-radius: 10px;
    border: 10px;
   font-size: 1.2rem;
    border: 1px solid white;
}

.btn {
    padding: 10px;
    margin: 20px;
    background: transparent;
    border-radius: 10px;
    border:1px solid rgb(231, 231, 231);
    width: 10%;
}
